h2{
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  text-align: center;
  font-size: 30px;
  text-shadow: 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white;
}

body{
  background-color: blueviolet;
}

.paragrafo{
  text-align: center;
}



